body {
    font-family: 'MyriadPro', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color: $backgroundColour;
}
/**  Start video player **/
.wrapper {
    top: 0%;
    left: 40%;
    position: fixed;
    width: 60%;
    height: 100%;
    overflow: hidden;
    .overlay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        /** Start add background colour gradient **/
        background-image: -webkit-gradient(
            linear, 
            left top, left bottom, 
            from(rgba(240,86,35, .9)), 
            to(rgba(168,25,22, .9))
        );
        background-image: linear-gradient(
            rgba(240,86,35, .9), 
            rgba(168,25,22, .9)
        );
        /** End add background colour gradient **/
        button {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column nowrap;
                    flex-flow: column nowrap;
            -ms-flex-item-align: center;
                align-self: center;
            z-index: 50;
            background: transparent;
            border-style: none;
            outline: none;
            width: 150px;
            height: 150px;
        }
        .ytp-play-button {
            transition: 0.5s;
            // fill: orangered;
            fill: $backgroundColour;
            opacity: 0;
         }
         
         .ytp-play-button:hover {
            cursor: pointer;
            opacity: 1;
         }
    }
    video {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        z-index: 1;
    }/** End video player **/    
}
.row {
    margin: 0;
}
.col {
    padding: 0;
}
.btn-lg {
    padding: 32px 0 ;
    border-radius: 100px;
    border-style: none;
    line-height: 22px;
    font-size: $buttonFontSize;
    width: $buttonWidth;
}
.buttonGroup {
    margin: 5% 0;
    .btn-primary {
        border-color: transparent;
        background: transparent;    
        @include boxShadow;
        @include buttonHoverReverse;
    }
    .btn-secondary {
        @include buttonHover;
        margin-left: 2em;
    }
}
.container {
    margin: 0 auto;
    max-width: 85%;
    .navbar {
        padding: 32px 0;
        float: right;
        z-index: 100;
    }
    .headerGroup {
        margin-top: 25%;
        padding-right: 15%;
    }
    a {
        opacity: .5;
        font-family: 'MyriadPro-Bold';
        font-size: 1.8em;
        font-weight: bold;
        padding-right: 0;
        padding-left: 2em;
        color: white;
        &:hover {
            color: white;
            opacity: 1;
        }
    }
    h1 {
        font-family: 'AvenirLtStd-Roman', Arial, Helvetica, sans-serif;
        font-size: 4em;
        color: orangered;
    }
    h5 {
        margin: 0;
    }
    h5, aside {
        font-size: 1em;
        color: $subtextColour;
    }
    .col-lg-7 {
        z-index: -10;
    }
    .col-lg-5 {
        padding-left: 0;
    }
    .col-lg-12 {
        padding-left: 0;
    }
}